body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  padding: 20px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-home {
  display: flex;
  justify-content: flex-end;
}

.logo-header {
  max-width: 100px;
  max-height: auto;
}

.logo {
  height: 100%;
  width: 100%;
}
.nav-header {
  display: flex;
  margin-right: 50px;
  list-style-type: none;
  flex-wrap: wrap;
}

.nav-home {
  float: right;
  list-style-type: none;
  text-align: right;
}

.nav-link {
  margin: 0 20px;
}

.navActive {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.logo-home {
  max-width: 300px;
  max-height: auto;
}

.hide {
  display: none;
}

.home-background {
  background-image: url("./images/board-games.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  width: 100%;
}
.background-cork {
  background-image: url("./images/cork-board.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 30%;
  width: 100%;
}

footer {
  text-align: center;
}